*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}
/* header部分 */
header{
    width: 100%;
    height: 21.5rem;
    background: url(../img/my/bg1.png) no-repeat 0 0;
    background-size: cover;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 4.2rem;
    text-align: right;
}
.top>a{
    display: inline-block;
    width: 3rem;
    height: 4.2rem;
    margin-left: 2rem;
    color: white;
    font-size: 1.4rem;
    padding-top: 2.2rem;
    box-sizing: border-box;
}
.top>a:nth-of-type(1){
    background: url(../img/my/urse.png) no-repeat 50% 0;
    background-size: 60%;
}
.top>a:nth-of-type(2){
    background: url(../img/my/down.png) no-repeat 50% 0;
    background-size: 60%;
}
.middle{
    width: 100%;
    height: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}
.middle>span{
    width: 6.2rem;
    height: 6.2rem;
    background: url(../img/my/urse2.png) no-repeat 0 0;
    background-size: 100%;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom>a{
    width: 7.7rem;
    height: 3.5rem;
    border: 0.1rem solid white;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    line-height: 3.5rem;
}
/* nav部分 */
nav{
    width: 100%;
    height: 25rem;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
    margin-top: 1.2rem;
}
nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav_list>li{
    flex: 1;
    padding-left: 2.5rem;
    border-bottom: 0.1rem solid #DCDCDC;
    display: flex;
    align-items: center;
}
.nav_list>li:nth-of-type(1){
    background:url(../img/my/icon1.png) no-repeat 0 40%;
    background-size: 2rem;
}
.nav_list>li:nth-of-type(2){
    background:url(../img/my/icon2.png) no-repeat 0 40%;
    background-size: 2rem;
}
.nav_list>li:nth-of-type(3){
    background:url(../img/my/icon3.png) no-repeat 0 40%;
    background-size: 2rem;
}
.nav_list>li:nth-of-type(4){
    background:url(../img/my/icon4.png) no-repeat 0 40%;
    background-size: 2rem;
}
.nav_list>li>a{
    color: #666666;
    font-size: 1.4rem;
    width: 100%;
    background-color: aqua;
    background: url(../img/my/right.png) no-repeat 99% 0;
    background-size: 0.8rem;
}
