* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #efeeee;
}

nav {
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid grey;
}

nav p {
    margin-left: 1.5rem;
    white-space: nowrap;
}

nav p>a:nth-of-type(1) {
    font-weight: 700;
}

nav a {
    color: black;
    font-size: 1.2rem;
}

section {
    width: 100%;
}

section>.shouye {
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
    background-color: white;
}

.shouye>p:nth-of-type(1) {
    flex: 1;
}

.shouye>p:nth-of-type(2) {
    flex: 10;
}

.shouye>span,
.shouye>a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

section .zhuce {
    background-color: white;
}

.zhuce>ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-bottom: 2rem;
}

.zhuce>ul li {
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid gray;
    padding: 0px 1rem;
}

.zhuce>ul li>input {
    border: none;
    outline: none;
}

.zhuce>ul>li:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.zhuce>ul>li:nth-of-type(1)>span:nth-of-type(2) {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.7rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.75rem;
    font-size: 1.2rem;
}

.zhuce>ul>li:nth-of-type(1)>p:nth-of-type(1) {
    flex: 10;
}

.zhuce>ul>li:nth-of-type(1)>p:nth-of-type(2) {
    flex: 1;
}

.btn {
    width: 100%;
    margin: 0 auto;
    height: 4rem;
    line-height: 4rem;
    background-color: #ff8a00;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: white;
}